body{
  padding: 50px;
}
   
.box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  row-gap: 20px;
}

.svg{
  width: 400px;
  height: 300px;
  border:  1px solid #000;
}

.text{
  font-size: 20px;
  fill: #000
}